<link rel="apple-touch-icon" sizes="57x57" href="./assets/images/favicon/apple-icon-57x57-b3d451157c.png">
<link rel="apple-touch-icon" sizes="60x60" href="./assets/images/favicon/apple-icon-60x60-5f3a13c9c5 .png">
<link rel="apple-touch-icon" sizes="72x72" href="./assets/images/favicon/apple-icon-72x72-67a1005c3d.png">
<link rel="apple-touch-icon" sizes="76x76" href="./assets/images/favicon/apple-icon-76x76-469a2c1cc3.png">
<link rel="apple-touch-icon" sizes="114x114" href="./assets/images/favicon/apple-icon-114x114-fbb70174b3.png">
<link rel="apple-touch-icon" sizes="120x120" href="./assets/images/favicon/apple-icon-120x120-46e5c4947b.png">
<link rel="apple-touch-icon" sizes="144x144" href="./assets/images/favicon/apple-icon-144x144-0452f5bb1f.png">
<link rel="apple-touch-icon" sizes="152x152" href="./assets/images/favicon/apple-icon-152x152-d42e9bf097.png">
<link rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicon/apple-icon-180x180-3f407180bb.png">
<link rel="icon" type="image/png" sizes="192x192"  href="./assets/images/favicon/android-icon-192x192-f7af334b54.png">
<link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon/favicon-32x32-4d8e2ae1da.png">
<link rel="icon" type="image/png" sizes="96x96" href="./assets/images/favicon/favicon-96x96-1d12faed35.png">
<link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon/favicon-16x16-91683ee635.png">
<link rel="manifest" href="./assets/images/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="./assets/images/favicon/ms-icon-144x144-0452f5bb1f.png">
<meta name="theme-color" content="#ffffff">